# Python
*.pyc
__pycache__/

# Virtual Environment
venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# Environment Variables
.env

# macOS
.DS_Store

# PyCharm
.idea/